@use "base" as base;
@use "flex" as flex;
@use "grid" as grid;

:root {
  --primary: #eae7dc;
  --grey: #8e8d8a;
  --light: #d8c3a5;
  --red: #e85a4f;
  --pink: #e98074;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

header {
  padding: 25px;
  background-image: url("../images/lights.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background: var(--primary);
  color: var(--grey);
  font-family: "Lato", sans-serif;
  line-height: 1.8;
  font-size: 1.2rem;
}

.title {
  color: var(--red);
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;

  &__intro {
    text-align: center;
    color: var(--red);
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
  }
}

.form {
  background-color: var(--pink);
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: black;

  &__input {
    margin: 0 15px;
    height: 30px;
    font-size: 1.2rem;
  }

  &__btn {
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    border-radius: 5px;
    line-height: 1.8;

    &:hover {
      background-color: var(--light);
    }
  }
}

.cards {
  min-height: 28vh;
  padding: 15px;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;

  &__flipBox {
         

     &__inner {


       &__front {
         display: flex;
         background-color: white;
         border-radius: 10px;
         border: solid 2px var(--grey);
         padding: 3PX;

            
           &__card {
            max-height: 220px;
            max-width: 550px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: end;
            line-height: 1.4;
          }

            &__img {
            height: 220px;
            width: 158px;
            padding-right: 10px;
            object-fit: contain;
            }

       }

     }
   
  


}  
}


footer {
  text-align: center;
}




// @media (max-width: 800px) {
//   .cards {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (max-width: 500px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
//   .card img {
//     width: 100%;
//     height: 300px;
//     object-fit: contain;
//   }